<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DateTimePickerCustom.WPF.LibraryClass" version="2.0.0" targetFramework="net472" />
  <package id="EntityFramework" version="5.0.0" targetFramework="net472" />
  <package id="EntityFramework.ru" version="5.0.0" targetFramework="net472" />
  <package id="RoyT.TimePicker" version="0.5.0" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="27.1.52" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="27.1.52" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfPicker" version="27.1.52" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2012" targetFramework="net472" />
  <package id="Xamarin.Plugin.DateTimePicker" version="1.0.3" targetFramework="net472" />
</packages>